<?xml version="1.0" encoding="utf-8"?>

<configurations>
    <!--File locations relative to the decompiler target root-->
    <config name="manifest_path" value="AndroidManifest.xml"/>
    private static final String ANDROID_PUBLIC_IDS_FILE = "res" + File.separator + "values" + File.separator + "public.xml";

    <!--Linker activity configuration-->
    <config name="linker_activity_name" value="aptoide/cm/adcolonydecompile/LinkActivity"/>
    <config name="linker_activity_starter" value="smali/aptoide/cm/adcolonydecompile/ExtraActivity.smali"/>
</configurations>