<?xml version="1.0" encoding="utf-8"?>

<configurations>
    <!--File locations relative to the decompiler target root-->
    <config name="manifest_path" value="AndroidManifest.xml"/>
    <config name="public_ids_path" value="res/values/public.xml"/>

    <!--Linker activity configuration-->
    <config name="linker_activity_name" value="aptoide/injection/LinkerActivity"/>
    <config name="linker_activity_starter" value="smali/aptoide/injection/ExtraActivity.smali"/>
</configurations>